<h3>Please enter information for your new <%= @category.name %> post below:</h3>

<form action="/categories/<%= @category.id %>/articles" method="post">
  <div>
    <label for="article_title">Title</label>
    <input id="article_title" name="article[title]" type="text"/>
  </div>
  <div>
    <label for="article_description">Description</label>
    <textarea id="article_description" class="text" cols="40" rows ="5" name="article[description]"></textarea>
  </div>
  <div>
    <label for="article_price">Price:</label>
    <input id="article_price" name="article[price]" type="digit"/>
  </div>
  <input type=hidden name="article[user_id]" value="<%= current_user.id %>" />
  <input type=hidden name="article[category_id]" value="<%= @category.id %>" />
  <input class=button name="commit" type="submit" value="Create Post" />

</form>