<header>
<% if logged_in? %>
  <form action='/sessions' method='post'>
    <input type='hidden' name='_method' value='delete'>
    <input type='submit' value='Logout'>
  </form>
<% else %>
  <a id=login_link href='/sessions/new'>Login</a> 
  <a id=logout_link href='/users/new'>Register</a>
<% end %>
</header>
